<background-banner
  [title]="'Your Custom Title'"
  [src]="'/assets/images/home.webp'"
></background-banner>

<h3>Featured Content</h3>


<div class="flex w-full gap-4 my-3 flex-column md:flex-row">
  <expandable-featured-card
    [title]="titles[0]"
    [description]="descriptions[0]"
    [src]="'/assets/images/DeveloperBG.webp'"
    [routerLink]="['dashboard/about']"
  />
    <expandable-featured-card
    [title]="titles[1]"
    [description]="descriptions[1]"
    [src]="'/assets/images/DesignerBG.webp'"
    [routerLink]="['dashboard/about']"
  />
</div>



<h3>Popular Now</h3>


<div class="flex w-full h-15rem gap-4 my-3 flex-column md:flex-row">

  <popular-card
    [title]="titles[2]"
    [description]="descriptions[2]"
    [backgroundSrc]="'/assets/images/Aquarius.webp'"
    [avatarSrc]="'/assets/images/PortfolioAvatarPop.png'"
    [routerLink]="['dashboard/project/epic_portfolio']"

  />
    <popular-card
    [title]="titles[3]"
    [description]="descriptions[3]"
    [backgroundSrc]="'/assets/images/Saloon.webp'"
    [avatarSrc]="'/assets/images/NextAvatarPop.png'"
    [routerLink]="['dashboard/next_steps']"
  />
</div>

<div class="h-15rem"></div>
