@if(isDesktop$ | async ){
<div class="container-host">
  <!-- Desktop Layout -->
  <div class="flex w-full h-full p-0 m-0">
    <!-- Left Sidebar (Decorative Drawer) -->
    <div class="w-6rem h-screen pl-1">
      <decorative-drawer></decorative-drawer>
    </div>

    <!-- Left Main Content Section -->
    <div class="col-2 h-screen p-3 navigationSection">
      <app-navigation></app-navigation>
      <div class="music-background">
        <img
          (click)="navigateToRadio()"
          class="playbox"
          src="/assets/images/PlayBox.png"
          alt=""
        />
        <img class="music-waves" src="assets/images/MusicGraphic.svg" alt="" />
        <p class="radio-text">{{ "favorite_radio" | translate }}</p>
      </div>
    </div>

    <!-- Main Center Content Section -->
    <div class="col h-screen py-3 px-0">
      <div class="h-full w-full">
        <name-header></name-header>
        <div class="center-holder">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- Right Sidebar (Profile Section) -->
    <div class="col-2 h-screen profileSection p-0 m-0">
      <div class="h-full w-full">
        <profile-render-section></profile-render-section>
      </div>
    </div>
  </div>
</div>
}@else{
<!-- Mobile Layout -->
<div class="mobile-column">
  <div class="my-4">
    <name-header></name-header>
  </div>

  <app-navigation-mobile></app-navigation-mobile>
  <router-outlet></router-outlet>
  <profile-render-section></profile-render-section>

</div>

}
