<background-banner
  [title]="'tech_stack' | translate"
  [src]="'/assets/images/TechStack.webp'"
></background-banner>


<h2>{{'most_used_tools_and_languages' | translate}}</h2>

<div class="tech-stack-container">
  @for (logo of techStackLogosRenderer; track logo.description) {
    <div class="icon-container">
      <img
        [src]="logo.src"
        [alt]="logo.description"
        loading="eager"
      />
      <span class="tooltip">{{ logo.description }}</span>
    </div>
  }
</div>

<div class="flex w-full gap-4 my-3 flex-column md:flex-row">
  <expandable-featured-card
    [title]="'full_stack_frontend' | translate"
    [description]="'developer_description' | translate"
    [src]="'/assets/images/DeveloperBG.webp'"
    [expandable]="true"
  />

    <expandable-featured-card
    [title]="'ux_designer' | translate"
    [description]="'designer_description' | translate"
    [src]="'/assets/images/DesignerBG.webp'"
    [expandable]="true"
  />
</div>
<div class="h-15rem"></div>
