
<div class="h-full" >
  <button (click)="goBack()" class="back-button">
    {{ "Back" | translate }}
  </button>
</div>



@if (!project()) {
<p class="text-center text-xl">
  {{ "No-project-selected" | translate }}
</p>
} @else {
<h2 class="w-full text-center text-xl">
  {{ project()!.name | translate }}
</h2>

<p class="description" [innerHTML]="project()!.description | translate"></p>

@for (image of project()!.images; track image) {
<div class="h-full">
  <img
    [src]="image"
    [alt]="project()!.name | translate"
    class="project-image"
  />
</div>

} }
