<div class="content-wrapper" (click)="navigate()">
  <div class="content-separator">
    <div class="image-holder">
      <img class="background-popular-image" [src]="backgroundSrc" alt="" />
      <img class="avatar-image" [src]="avatarSrc" alt="avatar image"/>
    </div>
    <div class="popular-gradient">
      <img
        class="popular-background"
        src="/assets/images/popular-background.svg"
        alt="popular-card-background"
      />

      <div class="popular-content">
        <p class="title">{{ title | translate }}</p>
        <p class="description">
          {{ description | translate}}
        </p>
          <p class="online">{{ randomOnlineMembers }} Online</p>
      </div>
    </div>
  </div>

</div>


