<div class="flex-col justify-content-center align-items-center text-center music-holder">
  <hr />

  <!-- Toggle Button with routerLinkActive -->
  <div
    (click)="toggleMenu()"
    [routerLinkActive]="['active-route']"
    class="expandable-header"
  >
    <img src="/assets/images/Barsmenu.svg" alt="">
  </div>

  <!-- Expandable Menu -->
  <div *ngIf="menuOpen" id="nav" class="w-full text-center">
    @for(item of menuItems; track item.path){
    <a
      [routerLink]="item.path"
      routerLinkActive="active-route"
      (click)="collapseMenu()"
      class="w-full text-lg inline-flex items-center justify-content-center"
    >
      <div class="flex flex-col p-1 text-center">
        {{ item.title }}
        {{ item.path! | translate | titlecase }}
      </div>
    </a>
    }
  </div>
</div>
