<div class="flex-col justify-content-center align-items-center text-center music-holder">

  <hr>

  <div id="nav" class="w-full text-center">
    @for(item of menuItems; track item.path){
    <a
      [routerLink]="item.path"
      routerLinkActive="active-route"
      class="w-full text-lg inline-flex items-center justify-content-center"
    >
      <div class="flex flex-col p-1  text-center">
        {{ item.title }}
        {{ item.path! | translate | titlecase }}
      </div>
    </a>
    }
  </div>



</div>
