a{
  text-decoration: none;
  color: white;
  padding: 1rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  box-sizing : border-box;
  text-align: center;
  font-family : 'IBM Plex mono', monospace;
}

h2{
  font-family : 'IBM Plex mono', monospace;
}

a:hover{
  background-color: #242643;
  box-shadow: 0 0 10px 3px #f449f4, 10px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.active-route{
  background-color: #1C1D2D;
  font-weight: bold;
  box-shadow: inset 0 0 0 1px #00DAEA;
}

hr{
  border: 0.2px solid #3E3F54;
  margin: 1rem 0;
}


